.Header {
    display: flex;
    justify-content: space-between;
    margin: 0 10vh 0 10vh;
    align-items: center;
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.SearchBar {
    width: 30%;
    height: 40px;
}